@font-face {
    font-display: swap; 
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../Fonts/PublicSans-Black.ttf");
}
@font-face {
    font-display: swap; 
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../Fonts/PublicSans-Bold.ttf");

}
@font-face {
    font-display: swap; 
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../Fonts/PublicSans-ExtraBold.ttf");
}
@font-face {
    font-display: swap; 
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 800;
    src: url("../Fonts/PublicSans-ExtraLight.ttf");
}
@font-face {
    font-display: swap; 
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 900;
    src: url("../Fonts/PublicSans-Light.ttf");
}
@font-face {
    font-display: swap; 
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    src: url("../Fonts/DMSerifDisplay-Regular.ttf");
}