*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: "Public Sans";
    background-image: url("../images/body-img.png");
    background-size: 780px;
    background-repeat: no-repeat;
    background-position: 800px -212px;
    background-color: rgb(237, 243, 248);
}