
@mixin display($items:center, $space:space-between, $gap:0px){
    display: flex;
    align-items: $items;
    justify-content: $space;
    gap: $gap;
}

@mixin textStyle($FS, $FW, $LH, $COLOR, $CASE, $MB){
    font-size: $FS;
    font-weight: $FW;
    line-height: $LH;
    color: $COLOR;
    text-transform: $CASE;
    margin-bottom: $MB;
}

@mixin btnStyle($width:400px, $padding, $btnFs, $BtnFW, $LH:0px, $COLOR:white){
    width: $width;
    padding: $padding 0;
    text-align: center;
    border-radius: 8px;
    background-color: $clr-orange;
}