.site-header {
    padding-top: 40px;
}
.site-header-wrapper {
    @include display($items:center, $space:space-between, $gap:0px);
}
.site__header-nav {
    @include display($items:center, $space:none, $gap:0px);
}
.site__header-nav-list {
    @include display($items:center, $space:none, $gap:40px);
    margin-left: 64px;
}
.nav__list-item {
    @include textStyle($FS:15px, $FW:700, $LH:18px, $MB:0px, $CLR:#36536B);
}
.nav__list-item-link{
    color: #36536B;
}
.header-button {
    @include textStyle($FS:15px, $FW:700, $LH:18px, $MB:0px, $CLR:#FBFCFE);
    border-radius: 24px;
    border: none;
    padding: 16px 24px;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    background: rgb(186, 66, 112);
}

.hamburger-icon{
    display: none;
}

@media(max-width:1000px){
    body{
        background-size: 949px;
        background-position: center -670px;
    }
}
@media(max-width:700px){
    body{
        background-size: 780px;
        background-position: center -500px;
    }
    
    .hamburger-icon{
        display: block;
    }

    .header-button{
        display: none;
    }

    .site__header-nav-list{
        display: none;
    }
}